# Ignore:
dist
build
public
coverage
.next
.turbo
node_modules
pnpm-*.yaml
v8-compile-cache-*
.pnpm-store
.vercel/
.ignore/
*.min.json
*.min.js
*.min.css

# JS 
*.js
*.cjs
*.mjs
*.jsx
*.ts
*.cts
*.mts
*.tsx