.base {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    max-width: 100%;
    height: auto;
    font-size: var(--font-size-0);
    line-height: var(--font-lineheight-0);
    font-style: normal;
    user-select: none;
}